@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Los MEJORES</h1>
    <p>Espabila niño que la vida te va a come</a>.</p>
    @Html.ActionLink("Ir al listado de productos", "ListadoProductos", "Productos")
