@{
    ViewData["Title"] = "Home Page";
}

<div>
    <body>
        <p>@Html.ActionLink("Puntúa un combate", "PuntuarCombate", "Combate")</p>
        <p>@Html.ActionLink("Ir a la Clasificación","TablaClasificacion","Combate")</p>
    </body>
</div>