@{
    ViewData["Title"] = "Home Page";
}

<body class="text-center">
    <h1 class="titulito">Tablas de Multiplicar</h1>
    <p> 
        
        <table border="1" cellpadding="10" style="margin: 0 auto; text-align: center;">
            <thead>

                <tr>
                    <th>Multiplicación</th>
                    <th>Resultado</th>
                </tr>

            </thead>
            <tbody>

            @{

                for (var i = 1; i <= 12; i++)
                {
                    for (var x = 1; x < 10; x++)
                    {
                        var tablaMulti = i * x;
                            Write($"{i} * {x}  = {tablaMulti}");
                    }
                    Write($"<br>");
                }




            }

            </tbody>

        </table>
       </p>
</body>
